{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <style>
      #fron{
          font-family: "TH Sarabun New";
        font-size: 25px;
        color: black;
          text-align: center;
      }
      #fron2{
          font-family: "TH Sarabun New";
        font-size: 60px;
        color: black;
          text-align: center;
      }

 </style>
<head>
    <meta charset="UTF-8">
    <title>บุคคลต้นแบบ</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
}
</style>
</head>
    <div class="row">

<body class="row-cols-lg-auto">

<h2 id="fron2">สิบเอก กิตติคุณ บุญค้ำจุน</h2>

<img src="https://shorturl.asia/bUYL5" alt="Avatar" class="image w-25% h-25% row-cols-lg-auto">

<p id="fron"> สิบเอก กิตติคุณ บุญค้ำจุน มีชื่อในวงการว่า มนต์แคน แก่นคูน[1] นักร้องเพลงลูกทุ่งหมอลำชายชาวไทย[2] สังกัดค่าย แกรมมี่โกลด์ ในเครือ จีเอ็มเอ็ม แกรมมี่ เจ้าของฉายาบ่าวเสียงสุดสะแนน
    <br>เป็นนักร้องลูกทุ่งที่มีชื่อเสียงโด่งดังในปัจจุบันจากผลงานเพลง ยังคอยที่ซอยเดิม, ยามท้อขอโทรหา, สร้างฝันด้วยกันบ่, อ้ายฮักเจ้าเด้อ, โรงงานปิดคิดฮอดน้อง, ยังฮักคือเก่า, ชีวิตเพื่อชาติ หัวใจเพื่อเธอ,
    <br>ฝันอีกครึ่งต้องพึ่งเธอ, ตรงนั้นคือหน้าที่ ตรงนี้คือหัวใจ, อ้ายบ่แม่นเขา, ให้เขาไปหรือให้อ้ายเจ็บ,เขาขอไลน์ อ้ายขอลา,คอยน้องที่ช่องเม็ก,คำว่าฮักกัน มันเหี่ยถิ่มไส,ยังจำ..ทุกสิ่งที่เธอลืม,เจ้าตั๋วว่าฮักอ้าย,
    <br>อ้ายฮักเขา ตอนเจ้าบ่ฮัก,รถไฟรางคู่,ชาติหน้าฮักอ้ายเด้อ,เอิ้นชื่อเขาให้ชิน,สัญญาน้ำตาแม่,งานแต่งคนจน,อ้ายมันหมอลำ,ไปรวยเอาดาบหน้า,กอดทิพย์ ฯลฯ</p>
</body>

</div>
{% endblock %}