{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-danger text-center bg-white"> ป้อนรายการสินค้า </h1>

   <table class="table table-info">
   <form method="post" class="form form-control">
       {% csrf_token %}
       {{ form.as_table }}
       <tr>
           <td colspan="2" class="text-center">
               <input type="submit" value="Save" class="btn btn-success">
               <input type="reset" value="Reset" class="btn btn-success">
           </td>
       </tr>
   </form>
   </table>

{% endblock %}