{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <style>
        #fron {
            font-family: "TH Sarabun New";
            font-size: 25px;
            color: black;
            text-align: center;
        }

        #fron2 {
            font-family: "TH Sarabun New";
            font-size: 60px;
            color: black;
            text-align: center;
        }

    </style>
    <head>
        <meta charset="UTF-8">
        <title>บุคคลต้นแบบ</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            img.sticky {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                width: 200px;
            }
        </style>
    </head>
    <div class="row">

        <body class="row-cols-lg-auto">

        <h2 id="fron2">วอลเลย์บอล</h2>

        <img src="https://shorturl.asia/lITGW" alt="Avatar" class="image w-25% h-25% row-cols-lg-auto">

        <p id="fron"> กีฬาวอลเลย์บอลถือกำเนิดขึ้นในปี ค.ศ. 1895 โดยนายวิลเลียม จี. มอร์แกน
            ผู้อำนวยการฝ่ายพลศึกษาของสมาคม วายเอ็มซีเอ เมืองฮอลโยค รัฐแมสซาชูเซตส์ ประเทศอเมริกา ซึ่งได้เกิดขึ้นเพียง 1
            ปี ก่อนการแข่งขันกีฬาโอลิมปิกสมัยใหม่ ครั้งที่ 1 ณ กรุงเอเธนส์
            โดยเขามีความคิดที่ต้องการให้มีกีฬาสำหรับเล่นในช่วงฤดูหนาวแทนกีฬากลางแจ้งเพื่อออกกำลังกายพักผ่อนหย่อนใจยามหิมะตก<br>

            เขาได้เกิดแนวความคิดที่จะนำลักษณะและวิธีการ เล่นของกีฬาเทนนิสมาดัดแปลงใช้เล่น
            จึงใช้ตาข่ายเทนนิสซึ่งระหว่างเสาโรงยิมเนเซียม สูงจากพื้นประมาณ 6 ฟุต 6 นิ้ว
            และใช้ยางในของลูกบาสเกตบอลสูบลมให้แน่น แล้วใช้มือและแขนตีโต้ข้ามตาข่ายกันไปมา
            แต่เนื่องจากยางในของลูกบาสเกตบอลเบาเกินไป ทำให้ลูกบอลเคลื่อนที่ช้าและทิศทางที่เคลื่อนไปไม่แน่นอน
            จึงเปลี่ยนมาใช้ลูกบาสเกตบอล แต่ลูกบาสเกตบอลก็ใหญ่ หนักและแข็งเกินไป ทำให้มือของผู้เล่นได้รับบาดเจ็บ<br>

            จนในที่สุดเขาจึงให้บริษัท Ant G. Spalding and Brother Company ผลิตลูกบอลที่หุ้มด้วยหนังและบุด้วยยาง
            มีเส้นรอบวง 25-27 นิ้ว มีน้ำหนัก 8-12 ออนซ์ หลังจากทดลองเล่นแล้ว เขาจึงตั้งชื่อเกมการเล่นนี้ว่า "มินโทเนตต์"
            (Mintonette)

            ค.ศ.1896 ได้มีการประชุมสัมมนาผู้นำทางพลศึกษาที่วิทยาลัยสปริงฟีลด์ (Spring-field College) นายวิลเลียม จี
            มอร์แกน ได้สาธิตวิธีการเล่นต่อหน้าที่ประชุมหลังจากที่ประชุมได้ชมการสาธิต ศาสตราจารย์ อัลเฟรด ที เฮลสเตด
            (Alfred T. Helstead) ได้เสนอแนะให้มอร์แกนเปลี่ยนจากมินโทเนตต์ (Mintonette) เป็น "วอลเลย์บอล" (Volleyball)
            โดยให้ความเห็นว่าเป็นวิธีการเล่นโต้ลูกบอลให้ลอยข้ามตาข่ายไปมาในอากาศ โดยผู้เล่นพยายามไม่ให้ลูกบอลตกพื้น<br>

            ค.ศ. 1928 ดร.จอร์จ เจ ฟิเชอร์ (Dr. George J. Fisher) ได้ปรับปรุงและเปลี่ยนแปลงกติกาการเล่นวอลเลย์บอล
            เพื่อใช้ในการแข่งขันกีฬาวอลเลย์บอลในระดับชาติ และได้เผยแพร่กีฬาวอลเลย์บอลจนได้รับสมญานามว่า
            บิดาแห่งกีฬาวอลเลย์บอล</p>
        </body>

    </div>
{% endblock %}