{% extends 'base.html' %}
{% block content %}
    <style>
        #fron {
            font-family: "TH Sarabun New";
            font-size: 25px;
            color: black;
        }

        #fron1 {
            font-family: "TH Sarabun New";
            font-size: 30px;
            color: black;
        }

        #fron2 {
            font-family: "TH Sarabun New";
            font-size: 18px;
            color: black;
        }

    </style>
    <head>
        <meta charset="UTF-8">
        <title>สินค้า</title>
    </head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .container {
            position: relative;
            width: 100%;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: ivory;
            opacity: 0.8;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;

        }


        .container:hover .overlay {
            bottom: 0;
            height: 100%;

        }

        .text {
            color: black;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }


    </style>
    <body>

    <h2 id="fron" align="center"><b> รายการสินค้า </b></h2>
    <table>
        <tr>
            <th class="col-lg-4">
                <div class="container">
                    <img src="https://lzd-img-global.slatic.net/g/p/9dc07fc7b10260b61a8a1b7ba74f8c9b.png_720x720q80.jpg_.webp"
                         alt="Avatar"
                         class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> โน๊ตบุ๊ค HP Laptop 15s-eq3065AU/ Ryzen 5/ Ram16GB/SSD 512 GB/
                            Win11Home/ 2Yrs Onsite </b></b>
                            <div id="fron2">
                                <br>Option 1 : HP Laptop 15s-eq3001AU
                                <br>Processor : AMD Ryzen™ 5 processor
                                <br>Memory : 16 GB DDR4-3200 MHz RAM (2 x 8 GB)
                                <br>Internal storage : 512 GB PCIe® NVMe™ M.2 SSD


                                <br><b> ราคา : 21,590.00 บาท </b>

                            </div>
                        </div>
                    </div>
                </div>
            </th>


            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t16/143/2031274342/172758/626a2af5/5df7719aN5aa4caaa.jpg!q70.jpg"
                         alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> มาม่า บะหมี่ต้มยำกุ้ง 1 กล่อง บรรจุ 30 ซอง </b></b>

                            <div id="fron2">
                                <br>มาม่าต้มยำกุ้งเส้นบะหมี่เหนียวนุ่ม น้ำซุปเข้มข้น แซ่บถึงใจ
                                ถึงเครื่องต้มยำ ต้นตำรับบะหมี่กึ่งสำเร็จรูปรสต้มยำกุ้ง...มาม่าต้มยำกุ้ง
                                แซบลึกถึงใจอะไรก็แทนไม่ได้ ขนาดซองละ 55 กรัม 1 กล่องบรรจุ 30 ซอง
                                <br><b> ราคา : 183 บาท </b>
                                <br>น้ำหนัก 55 กรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>


            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t40/195/1182326359/801019/4ab2aed7/628b400eN57e067b6.png!q70.jpg"
                         alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> KOLBADENT ยาสีฟันสมุนไพรสกัดบริสุทธิ์ คอลบาเด้นท์ 160 กรัม 1
                            กล่อง </b></b>
                            <div id="fron2">
                                <br>Kolbadent ยาสีฟันสมุนไพรสกัดบริสุทธิ์ คอลบาเด้นท์ 160 กรัม 1 กล่อง
                                คอลบาเด้นท์ เป็น ยาสีฟันสมุนไพร สกัดบริสุทธิ์ (Pure Herbal Extract)
                                ผลิตด้วยกรรมวิธีเฉพาะในการผสานคุณค่าสมุนไพร ที่มีคุณสมบัติเชิงรักษา
                                โดยการนำสมุนไพรแต่ละชนิดมาสกัด ได้เป็นสารสกัด สมุนไพรเข้มข้น อาทิ ข่อย น้ำมัน กานพลู
                                เกล็ดสะระแหน่ เนื้อยาสีฟัน สีขาวนวล หอมสมุนไพร ใช้ง่าย ไม่ฝาดปาก
                                ทำให้กลุ่มผู้ใช้ทั่วไปสามารถใช้ยาสีฟันสมุนไพร ที่มีคุณสมบัติเชิงรักษาได้ง่ายขึ้น

                                <br><b> ราคา : 80 บาท </b>
                                <br>น้ำหนัก 160 กรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>

            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t16/234/10288483994/29002/6daf10b9/618a0077N9861e7db.jpg!q70.jpg"
                         alt="Avatar"
                         class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> ภูเขาทอง GOLDEN MOUNTAIN ซอสปรุงรสฝาเขียว 600 มล. </b></b>

                            <div id="fron2">
                                <br>มีส่วนประกอบจากซอสถั่วเหลือง 75%
                                <br>ผลิตจากถั่วเหลืองคุณภาพดีผ่านการผลิตด้วยกรรมวิธีที่ทันสมัย
                                <br>ด้วยการย่อยโปรตีนของถั่วเหลืองได้กรดอะมีโนต่างๆ ออกมา ทำให้มีรสชาติหอม
                                <br>กลมกล่อมเฉพาะตัวที่เป็นเอกลักษณ์ในแบบฉบับภูเขาทอง
                                <br>เหมาะสำหรับ เหยาะ ผัด หมัก ต้ม และตุ๋น

                                <br><b> ราคา : 40 บาท </b>
                                <br>น้ำหนัก 600 มิลิลิตร
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t34/224/5147216557/153437/ede09aae/62fb0cebN0f829a32.jpg!q70.jpg"
                         alt="Avatar"
                         class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> หงษ์ทอง ข้าวหอมมะลิใหม่ต้นฤดู 100% Limited Edition ขนาด 5 กิโลกรัม
                            (แพ็ค 4) </b></b>
                            <div id="fron2">
                                <br>เป็นข้าวที่มาจากโครงการหงษ์ทองนาหยอด ในจังหวัดอุบลราชธานี และศรีสะเกษ
                                พื้นที่ทุ่งกุลาฯ ที่ได้ชื่อว่าเป็นแหล่งปลูกข้าวหอมมะลิที่ดีที่สุด

                                ปลูกด้วยวิธีนาหยอด ทำให้กอข้าวใหญ่ เมล็ดข้าวอุดมสมบูรณ์ ได้ข้าวคุณภาพสูง
                                เก็บเกี่ยวต้นฤดู

                                สีและบรรจุลงถุงทันทีหลังเก็บเกี่ยว ทำให้ได้ข้าวที่ดีกว่า หอมกว่า นุ่มกว่า อร่อยกว่า
                                <br><b> ราคา : 900 บาท </b>
                                <br>น้ำหนัก 5 กิโลกรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t55/51/136486816/198168/31ef74bf/60c72cbcNcb168a37.jpg!q70.jpg "
                         alt="Avatar"
                         class="image ">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> MOKI บะหมี่โอ๊ตไฟเบอร์ผสมบุก 200กรัม (FK0154-1) คีโต เจ คลีน ลดน้ำหนัก
                            เส้นบุก ก๋วยเตี๋ยว </b></b>

                            <div id="fron2">
                                <br>บะหมี่โอ๊ตไฟเบอร์ผสมบุก
                                บุกเส้นกลมสีเหลืองนวลน่ารับประทาน ผลิตจากวัตถุดิบธรรมชาติ 100%
                                โดยสีเหลืองที่ปรากฎในเส้นนั้นทำมาจาก
                                ไฟเบอร์ที่มีประโยชน์กับร่างกายและไม่ให้พลังงานจากพืชตระกูลโอ๊ต
                                <br><b> ราคา : 35 บาท </b>
                                <br>น้ำหนัก 200 กรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>

            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t1/347/974162926/164795/54e7d9b2/5dd78e4dN0bdc05e2.jpg!q70.jpg"
                         alt="Avatar"
                         class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b>พนมรุ้ง ข้าวขาวหอมมะลิ 100% ขนาด 2 กก. จำนวน 6 ถุง </b></b>

                            <div id="fron2">
                                <br>พนมรุ้ง ข้าวขาวหอมมะลิ 100% –
                                สัมผัสความอร่อยตามแบบฉบับข้าวหอมมะลิแท้จากแหล่งเพาะปลูกชั้นเยี่ยมของประเทศ

                                พนมรุ้ง ข้าวหอมมะลิ 100%
                                เป็นข้าวหอมมะลิแท้คัดสรรจากแหล่งผลิตข้าวหอมมะลิชั้นเยี่ยมของประเทศข้าวสาร
                                จะขาวนวลมีกลิ่นหอมคล้ายใบเตย เมื่อหุงสุกแล้วจะนุ่ม หอม
                                อร่อยเหมาะสำหรับรับประทานเป็นข้าวสวยกับสำรับกับข้าวแสนอร่อยเพื่อให้ได้รสชาติของข้าวหอมมะลิแท้ๆ
                                <br><b> ราคา : 370 บาท </b>
                                <br>น้ำหนัก 2 กิโลกรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t19/271/918086339/333048/3ea7fe0a/5d73bd6cN27432b71.png!q70.jpg"
                         alt="Avatar"
                         class="image">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> ข้าวกล้องออร์แกนิค 5 แบบ 5 แพ็ค ใน 1 ชุด </b></b>

                            <div id="fron2">
                                <br>คุณประโยชน์พื้นฐานของข้าวกล้องออร์แกนิคของบ้านไร่ต้นฝัน
                                วิตามินบีรวม ป้องกันและบรรเทาอาการแขน-ขาไม่มีแรง ปวดกล้ามเนื้อ บำรุงสมอง
                                วิตามินบี 1 ป้องกันโรคเหน็บชา ช่วยการทำงานของระบบประสาท
                                วิตามินบี 2 ป้องกันโรคปากนกกระจอก
                                ฟอสฟอรัส ช่วยการเจริญเติบโตของกระดูกและฟัน
                                แคลเซียม ทำให้กระดูกแข็งแรง ป้องกันตะคริว
                                <br><b> ราคา : 400 บาท </b>
                                <br>น้ำหนัก 5 กิโลกรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>

            <th class="col-lg-4">
                <div class="container">
                    <img src="https://img10.jd.co.th/n0/jfs/t22/143/9655879155/549443/2808a79a/6264bc14N5a491040.png!q70.jpg"
                         alt="Avatar"
                         class="image ">
                    <div class="overlay">
                        <div class="text">
                            <br><b id="fron1"><b> Mackays แม็คเคย์ แยมรสผลไม้ เข้มข้น จากสก๊อตแลนด์ </b></b>

                            <div id="fron2">
                                <br>Mackays แม็คเคย์ แยมรสผลไม้ เข้มข้น
                                แยมอันดับ1.ในสก๊อตแลนด์ สำหรับทาขนมปัง ทำเบเกอรี่
                                มีรสชาติที่เป็นเอกลักษณ์ หอม อร่อย เข้มข้น เหมาะกับทำขนม
                                เนื้อแยมให้ความหวานกำลังดี ไม่มากจนเกินไป
                                ให้เด็กๆทาน ในวันพักผ่อน..
                                <br><b> ราคา : 170 บาท </b>
                                <br>น้ำหนัก 340 กรัม
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>


    </table>
    </body>







{% endblock %}