{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block content %}
<h1 class="text-danger text-center bg-white"> text </h1>
    <table class="table table-info">
    <form method="post" class="form form-control">
        <tr>
            <td> ID </td>
            <td>
                <input type="text" name="id" size="15" maxlength="13" required="required">
            </td>
        </tr>
        <tr>
            <td> name </td>
            <td>
                <input type="text" name="id" size="55" maxlength="50" required="required">
            </td>
        </tr>
        <tr>
            <td> Product </td>
            <td>
                <input type=text" name="brand" size="35" maxlength="30" required>
            </td>
        </tr>
        <tr>
            <td> Price </td>
            <td>
                <input type="number" name="price" size="10" min="1" max="100000" required="required">
            </td>
        </tr>
        <tr>
            <td> Net </td>
            <td>
                <input type="number" name="net" size="10" min="0" max="1000" required="required">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type ="submit" value="save" class="btn btn-success">
                <input type ="reset" value="reset" class="btn btn-danger">
            </td>
        </tr>
    </form>
    </table>
{% endblock %}